
.padded {
  padding: $container-padding;
}

.welcome {
  float: left;
  width: 20%;
}

.filter-container {
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
}

.invisible {
  visibility: hidden;
}
